.chartContainer {
    display: flex;
    justify-content: center;
}

.codeEditor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleBtn {
    display: flex;
    justify-content: end;
}