.chartContainer {
    display: flex;
    justify-content: center;
}

.codeEditor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleBtn {
    display: flex;
    justify-content: end;
    margin: 5px;
}

.toggleBtn .ant-switch-checked {
    background-color: #4CAF50 !important; 
}

.toggleBtn .ant-switch {
    background-color: #FF5722 !important; 
}