.sidebar {
    position: fixed;   
    left: 89px;          
    top: 0;            
    width: 150px;      
    height: 100vh;     
    background: rgb(45,81,185);
    background: linear-gradient(38deg, rgba(45,81,185,1) 29%, rgba(175,103,222,1) 63%);
    color: white;  
    border-radius: 20px;   
}
  

  

.link {
    display: flex;
    /* align-items: center; */
    padding: 15px 0px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  

.link:hover {
    background: rgb(45,81,185);
    background: linear-gradient(38deg, rgba(45,81,185,1) 29%, rgba(175,103,222,1) 63%);
}

.chartDiv {
    padding: 10px 0px ;
    height: 100vh;
}

.charts {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentOpen {
    margin-left: 250px;  
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .contentClosed {
    margin-left: 100px; 
    padding: 20px;
    transition: margin-left 0.3s ease;
}