.chartContainer {
    display: flex;
    justify-content: center;
}

.dropChartContainer {
    text-align: center;
    height: 80vh;
}

.codeEditor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.tableContainer {
    margin: 2rem 1rem;
}

.toggleBtn {
    display: flex;
    justify-content: end;
   
}

.largeSwitch {
    transform: scale(1.2);  
    display: inline-block;
}

.customSwitch {
    width: 60px; 
    height: 22px; 
}

.icon {
    cursor: pointer;
    color: #28ACEC;
    background-color: rgb(247, 245, 245);
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px; 
}

.playButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin: 1em 0;
}

.playButton {
    height: 3.7em;
    width: 3.7em;
    cursor: pointer;
}

.activeIcon {
    cursor: pointer;
    color: white; 
    background-color: #28ACEC; 
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #28ACEC; 
}
