.middleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.bgColor { 
    width: 50%;
    padding: 100px;
    background-size: cover;
    background: rgb(200,193,240);
    background: radial-gradient(circle, rgba(200,193,240,1) 14%, rgba(181,209,241,0.773546918767507) 26%, rgba(254,254,254,1) 46%);
}

.blockDiv {
    display: flex;
    justify-content: center;
    gap: 20px;
}