.container {
    border-radius:  var(--btn-border-radius);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
    color:var( --black-text-color);
}

.containerWhite {
    border-radius:  var(--btn-border-radius);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
    border: 1px solid grey;

}

.containerTransparent {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 25px;
    position: relative;
    padding-top: 15px;
    opacity: 0;
    border: 1px solid rgb(177, 12, 12);

}

.containerBlue {
    color: var( --white-text-color);
    border-radius:  var(--btn-border-radius);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    position: relative;
    padding-top: 15px;
}

.containerBlack {
    color: var( --white-text-color);
    border-radius:  var(--btn-border-radius);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 25px;
    position: relative;
    padding-top: 15px;
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}
  
.text {
    font-size: 12px;
    margin-bottom: 0;
    padding: 5px;
    text-align: center;
}

.InfoImgContainer {
    display: flex;
    align-self: flex-end;
}

.infoImg {
    width: 25px;
    height: 20px;
    padding: 5px;
    color: white;
}

.infoImgBlue {
    width: 25px;
    height: 20px;
    padding: 5px;
    color: #9A6FF4; 
}

.redImg {
    width: 30px;
    height: 50px;
} 

.redPart {
    position: absolute;
    top: -20px; 
    right: -10px; 
    color: red;
}

.iconImg {
    width: 40%;
    height: 40%;
}

.newPart {
    position: absolute;
    top: 2px;
    left: -43px;
}

.newText{
    position: absolute;
    top: 15px;
    left: 36px;
    z-index: 2;
    color:var(--white-text-color);
    letter-spacing: -1.5px;
    font-style: italic;
    text-align: center;
}

.parallelogram {
    color: #9F00FC;
    width: 100px;
    height: 50px;
   
}

.logoImg {
    width: 90px;
    height: 90px;
    padding: 0px;

}