.rightContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor: pointer;
}

.mainContainer {
    display:flex;
    justify-content: space-between;
    padding: 5px;
}

.img {
    width: 50px;
    height: 30px;
    color: #06C1ED;
}

.imgBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.text {
    color: #06C1ED ;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 3px;
}

.btnImageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text-color-black);
}

.btnImageDiv:hover {
    color: #28ACEC;
}

.btnImage {
    width: 30px ;
    height: 25px;
    padding: 5px;
}