.mainContainer {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 50%;
    background: rgb(200,193,240);
    background: radial-gradient(circle, rgba(200,193,240,1) 14%, rgba(181,209,241,0.773546918767507) 26%, rgba(254,254,254,1) 46%);
    /* background-color: aqua; */
}

.mainDiv {
    display: flex;
    justify-content: space-around;
    /* background-color: blue; */
  
}

.logoDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: chartreuse; */
}

.logoSubDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.csvUploadLabel {
    cursor: pointer;
}

.csvImage {
    width: 50px;
    z-index: 2;
}

.hiddenFileInput {
    display: none;
}

.diskImage {
    width: 30px;
    height: 30px;
}

.textHeading {
    text-align: end;
    width: 50%;
    padding: 0px 3px;
} 

.headings {
    padding-top: 10px;
}

.diskImgContainer {
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 15px;
}
  
.diskImgContainerFaded {
    opacity: 0.3;
    transition: opacity 0.3s ease;
    padding: 15px;
}

.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }