.rootContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.appContainer {
    width: 50%;
    background: rgb(200,193,240);
    background: radial-gradient(circle, rgba(200,193,240,1) 14%, rgba(181,209,241,0.773546918767507) 26%, rgba(254,254,254,1) 46%);
    display: flex;
    gap: 100px;
    /* align-items: center; */
    margin-top: 50px;
    height: 70vh;
}

.appBox {
    display: flex;
    gap: 30px;
}

.loadData{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.optionSelectedValue{
    width: 150px;
}

.logoDiv {
    display: flex;
    gap: 20px;
    width: 300px;
    justify-content: space-between;
    height: fit-content;
}

.logoSubDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.csvUploadLabel {
    padding: 10px 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #000;
}

.csvImage {
    width: 50px;
    z-index: 2;
    padding: 30px;
}

.hiddenFileInput {
    display: none;
}
.importBtn{
    padding: 10px 5px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #000;
}

.diskImage {
    width: 100px;
    height: 60px;
    color:  #28ACEC;
}

.textHeading {
    text-align: end;
    width: 50%;
    padding: 0px 3px;
} 

.headings {
    padding-top: 10px;
    padding-bottom: 30px;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
}

.diskImgContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 15px;
}
  
.diskImgContainerFaded {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    padding: 15px;
}

.parameterContainer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;
    padding: 5px;
    width:fit-content;
}
.playBtnDiv {
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.playBtnDivFaded {
    opacity: 0.3;
    transition: opacity 0.3s ease;
    cursor: default;
}

.signs {
    /* color: white; */
    width: 35px;
    height: 30px;
}

.parameterImageContainer {
    display: flex; 
    align-items: center;
}
  
.logoContainer {
    width: 60px; 
    height: 60px;
    /* background-color:#03CAFF;  */
    /* border-radius: 50%;  */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}
  
.inputContainer {
    width: 250px;  
    height: 40px;  
    /* background: rgb(59,160,222);
    background: linear-gradient(38deg, rgba(59,160,222,0.989233193277311) 40%, rgba(14,87,172,0.76234243697479) 59%);
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40px;
}

.textCard {
    background-color: white;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.datePicker {
    width: 90%;
    height: 50%;
    /* border: none; */
    padding: 20px 5px;
}

.datePicker:hover {
    border: none; 
    cursor: default; 
}

.dropdown {
    margin-top: 20px;
    align-self: flex-start;
}

.inputField{
    padding: 8px;
    bottom: 0.5px solid #d5d3d3;
    border-radius: 5px;
    outline: none;
    width: 83%;
    margin-left: 18px;
    border: 1px solid #d5d3d3;
    outline: none;
}