.rootContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.appContainer {
    width: 50%;
    background: rgb(200,193,240);
    background: radial-gradient(circle, rgba(200,193,240,1) 14%, rgba(181,209,241,0.773546918767507) 26%, rgba(254,254,254,1) 46%);
    display: flex;
    gap: 100px;
    align-items: center;
    height: 90vh;
}

.appBox {
    display: flex;
    gap: 130px;
}

.logoDiv {
    display: flex;
    flex-direction: column;
    gap:50px;
}

.logoSubDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.csvUploadLabel {
    cursor: pointer;
}

.csvImage {
    width: 50px;
    z-index: 2;
    padding: 30px;
}

.hiddenFileInput {
    display: none;
}

.diskImage {
    width: 100px;
    height: 60px;
    color:  #28ACEC;
}

.textHeading {
    text-align: end;
    width: 50%;
    padding: 0px 3px;
} 

.headings {
    padding-top: 10px;
    padding-bottom: 30px;
}

.diskImgContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 15px;
}
  
.diskImgContainerFaded {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    opacity: 0.3;
    transition: opacity 0.3s ease;
    padding: 15px;
}

.parameterContainer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;
    padding: 5px;
}

.playBtn {
    color: #9A6FF4;
    width: 60px;
    height: 60px;
}

.playBtnDiv {
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.playBtnDivFaded {
    opacity: 0.3;
    transition: opacity 0.3s ease;
    cursor: default;
}

.signs {
    color: white;
    width: 35px;
    height: 30px;
}

.parameterImageContainer {
    display: flex; 
    align-items: center;
}
  
.logoContainer {
    width: 60px; 
    height: 60px;
    background-color:#03CAFF; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}
  
.inputContainer {
    width: 250px;  
    height: 40px;  
    background: rgb(59,160,222);
    background: linear-gradient(38deg, rgba(59,160,222,0.989233193277311) 40%, rgba(14,87,172,0.76234243697479) 59%);
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40px;
}

.textCard {
    background-color: white;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.datePicker {
    width: 90%;
    height: 50%;
    background-color: transparent;
    border: none;
}

.datePicker:hover {
    border: none; 
    background-color: transparent;
    cursor: default; 
}

.dropdownBtn {
    font-size: smaller;
    font-weight: 200;
}