.title {
    margin: 0;
    text-align: center;
    color: var(--black-text-color);
}

.description {
    margin: 0;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.normalText {
    margin: 0;
    padding: 0;
}

.smallText {
    margin: 0;
    padding: 0;
    font-size: smaller;
}