.sidebar {
    height: 100vh;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease;  
    width: 100px;
    gap: 2rem
}
  

.sidebarClosed {
    width: 100px;
}


.sidebarOpen {
    width: 239px;
}
  
.link {
    display: flex;
    padding: 15px 0px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.mainContainer:hover {
    background: rgb(45,81,185);
    background: linear-gradient(38deg, rgba(45,81,185,1) 29%, rgba(175,103,222,1) 63%);
}

.mainContainerW:hover {
    background: rgb(45,81,185);
    background: linear-gradient(38deg, rgba(45,81,185,1) 29%, rgba(175,103,222,1) 63%);
}
  
  
.menuIcon {
    margin-right: 10px;
    font-size: 24px;
}
  

.label {
    text-align: center;
}
   
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    cursor: pointer;
}

.mainContainerW {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100px;
}

.active {
    background: rgb(45,81,185);
    background: linear-gradient(38deg, rgba(45,81,185,1) 29%, rgba(175,103,222,1) 63%);
}
