.mainDiv {
    border: 2px solid black;
    border-radius: 10px;
    width: 1150px;
    height: 500px;
}

.upperDiv {
    background-color: blueviolet;
    padding: 0%;
    border-bottom: 2px solid black;
    border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blockDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 50%;
  padding: 100px;
  background: rgb(200,193,240);
  background: radial-gradient(circle, rgba(200,193,240,1) 14%, rgba(181,209,241,0.773546918767507) 26%, rgba(254,254,254,1) 46%);
}

.middleDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
