body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

:root {
    /* Background Color */
    --card-bg-color: #FFFFFF;
    --input-bg-color: #F2F2F2;
    --btn-bg-color: #28ACEC;
    --grad-bg-color: linear-gradient(38deg, rgb(80, 105, 181) 29%, rgb(194, 149, 224) 63%);

    /* Text Color */
    --white-text-color: #FFFFFF;
    --black-text-color: #000000;
    --grey-text-color: grey;

    /* Border Radius */
    --btn-border-radius: 25px;
    --card-border-radius: 20px;
}